<% @articles.each do |article| %>
  <div class="row justify-content-md-center g-0">
    <div class="col-md-8 mt-4">
      <div class="card text-center shadow">
        <div class="card-header fst-italic">
          By
          <% if article.user != nil %>
            <%= link_to article.user.username, user_path(article.user), class: "text-decoration-none" %>
          <%  else %>
            anonymous
          <% end %> <br/>
          <%= render article.categories %>
        </div>
        <div class="card-body">
          <h5 class="card-title text-success fw-bold"><%= article.title %></h5>
          <p class="card-text"><%= truncate(article.description, length: 100) %></p>
          <%= link_to 'View', article_path(article), class: "btn btn-outline-info"%>
          <% if logged_in? && (article.user == current_user || current_user.admin?) %>
            <% if article.user == current_user %>
              <%= link_to 'Edit', edit_article_path(article), class: "btn btn-outline-success"%>
            <% end %>
            <%= link_to 'Delete', article_path(article), class: "btn btn-outline-danger",
            data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
          <% end %>
        </div>
        <div class="card-footer text-muted">
          <small>
            Created <%= time_ago_in_words(article.created_at) %> ago,
            edited <%= time_ago_in_words(article.updated_at) %> ago
          </small>
        </div>
      </div>
    </div>
  </div>
<% end %>