<h2 class="text-center mt-3 text-primary">Article detail</h2>
<div class="row justify-content-md-center g-0">
  <div class="col-md-8 mt-4">
    <div class="card text-center shadow">
      <div class="card-header fst-italic">
        by NTD
      </div>
      <div class="card-body">
        <h5 class="card-title text-success fw-bold"><%= @article.title %></h5>
        <div class="card-text text-start px-3"><%= simple_format(@article.description) %></div>
        <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-outline-success"%>
        <%= link_to 'Delete', article_path(@article), class: "btn btn-outline-danger",
        data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
      </div>
      <div class="card-footer text-muted">
        <small>
          Created <%= time_ago_in_words(@article.created_at) %> ago,
          edited <%= time_ago_in_words(@article.updated_at) %> ago
        </small>
      </div>
    </div>
  </div>
</div>
<div class="text-center mt-3">
  <%= link_to '[Back to articles listing]', articles_path, class: "text-decoration-none" %>
</div>
